astropy==4.1
certifi==2024.2.2
charset-normalizer==2.0.12
click==8.0.4
cssmin==0.2.0
dataclasses==0.8
dnspython==1.16.0
Flask==2.0.3
Flask-Assets==2.1.0
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
idna==3.6
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
jsmin==3.0.1
MarkupSafe==2.0.1
mysql-connector==2.2.9
mysql-connector-python==8.0.19
numpy==1.19.5
packaging==21.3
pandas==1.1.5
pkg_resources==0.0.0
plotly==5.18.0
protobuf==3.6.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.50
tenacity==8.2.2
typing_extensions==4.1.1
urllib3==1.26.18
webassets==2.0
Werkzeug==2.0.3
zipp==3.6.0
